<div class="container animated fadeInDown">
  <div class="top-banner">

    <div class="relative-container">
      <img class="img-round-small" src="https://designcode.io/images/ui/cover.png">
    </div>

    <h1 class="c-kingfisher-daisy2 header header-medium">Cmc-Infosec Virus Chart</h1>
    <h2 class="header header-light">Xin hãy đăng nhập vào hệ thống.</h2>
    <div class="space-xs"></div>
  </div>
  <div class="bottom-container c-waikawa-gray2">
    <div class="container-col-stretch width-75">
      <div class="container-row-stretch">
        <span class="absolute-left fa fa-user"></span>
        <!--<span class="absolute-left fa fa-spinner fa-spin"></span>-->
        <input class="input border-light border-top-small" id="username" type="text" placeholder="Tên tài khoản"/>
      </div>
      <div class="container-row-stretch">
        <span class="absolute-left fa fa-asterisk"></span>
        <input class="input border-light border-bottom-small border-top-none" id="password" type="password" placeholder="Mật khẩu"/>
      </div>
    </div>
    <!--<div class="container-row-stretch width-75 ">-->
    <!--<span class="absolute-left icon-checkbox"></span>-->
    <!--<input class="input border-light border-round-small" type="text" placeholder="Remember me" disabled/>-->
    <!--</div>-->
    <div class="submit width-75">
      <button class="button-primary" {{action 'login'}}>Đăng Nhập</button>

    </div>
  </div>
</div>